:root{
  --Ral:'Raleway';
  --Play:'Playfair Display';
  --F1:#FFF;
  --F2:#F3F3F3;
  --Headlines:#000;
  --Body:#3E3C3C;
  --Subt:#555;
  --AcCafe:#B29966;
  --AcVerA:#339E88;
  --AcAma:#FAE125;
  --AcRoj:#F25D58;
  --AcAz:#84d7E6;
  --AcVio:#B1B3DB;
}
/**Tipografias*/
*{
  padding: 0;
  margin: 0;
  font-family:var(--Ral),sans-serif ;
  font-weight:500;
}

/*Bold*/
h1{
font-size: 64px;
font-weight:700;
}
h2{
  font-size: 48px;
  
font-weight:700;
}
h3{
  font-family:var(--Play),sans-serif ;
  font-size: 36px;
}
h4{
  font-size: 24px;
  font-weight:700;
}
h5{
  font-weight:700;
  font-size:18px ;
}

p{
  font-size: 18px;
}
/*SemiBold*/
.subHead{
  font-weight:600;
  font-size: 16px;
}
.descrip{
  font-family: var(--Play),sans-serif;
  font-size: 16px;
}

main{
  background-color:var(--F1);
}
/**Header*/
aside{
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  padding: 0rem 4rem 0rem 0rem;
  border: var(--Subt) solid 1px;
  justify-content: flex-end;
}
nav{
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  
}
nav>div,div.search{
 padding: 1.5rem 0; 
 transition: all 200ms ease;
}

nav>div:hover{
  box-shadow: inset 0px -5px 0px var(--AcCafe);
}

.pageSelected{
  box-shadow: inset 0px -5px 0px var(--AcCafe);
}
.pagenoSelect{
  box-shadow:none;
}

nav a.navLink,div.search{
  text-decoration: none;
  color: var(--Headlines);
  font-size: 16px;
  transition: all 200ms ease;
}
nav>div:hover a.navLink{
  color: var(--AcCafe);

}

div.logoContainer{
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  gap: 0px;
}
div.logoImg{
  background-color: var(--F1);
  border-bottom: var(--Body) solid 1px;
  padding: 0.5rem 1.2rem 0 1.2rem ;
}
div.logoImg img.logo{
  height: 6rem;
  
}
div.arrow{
  clip-path: polygon(85% 0, 100% 50%, 85% 100%, 0% 100%, 0 50%, 0% 0%);
  background-color: var(--Body);
  color: var(--F1);
  padding: 2rem 0rem 2rem 2rem;
  width: 14rem;
}
div.arrow>h4{
  margin-left: 1rem;
}
/**Footer*/
footer{
  padding: 2rem 1rem;
  background-color: var(--Body);
}
footer aside{
  border: none;
}
footer section.upFoot{
  padding: 0 2rem 1.5rem;
  display: flex;
  flex-flow: row wrap;
  border-bottom: 2px solid var(--F2);
  justify-content: space-between;
}
.santiago{
  display: flex;
  flex-flow: row wrap;
}
div.nombres{
  display: flex;
  align-items: flex-end;
  color: var(--AcCafe);
}
aside.contactArea{
  color: var(--F2
  );
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  
}
aside.contactArea a{
  text-decoration: none;
  color: var(--F2);
}
section.lowFoot{
  color: var(--F2);
  display: flex;
  justify-content: space-between;
  padding:1rem 6rem 1rem 2rem ;
}
div.terminos{
  display: flex;
  flex-flow: row wrap;
  
}
div.terminos p{
  border-right: 1px solid white;
  padding: 0 1rem;
}
div.terminos p:last-child{
  border: none;
}

/**Formulario*/
div.form{
  padding: 10rem 2rem;
  
}
div.form div.inputSec{
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
  padding: 1rem 0;
}
div.inputSec[disabled]{
  color: var(--Subt);
}

div.inputSec input{
  border-radius: 0.5rem;
  padding: 0.7rem 0.5rem;
  border: 2px solid #797979;
  font-size:medium;
}
div.inputSec input.a1:focus{
  border-color: var(--AcVerA);
  box-shadow: 0 1px 1px var(--AcVerA);
  outline: 0 none;
}
div.inputSec input.a1:invalid{
  border-color: var(--AcRoj);
  box-shadow: 0 1px 1px var(--AcRoj);
  outline: 0 none;
}

div.inputSec.disabled{
 color: var(--Subt);
}

div.inputSec input.a1:disabled{
  background-color: var(--F2);
  cursor:not-allowed;
}

/**Alertas*/
div.alert{
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}
div.alert span:hover{
  cursor: pointer;
}
div.alert p{
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: end;
}


.success{
  background-color: var(--AcVerA);
  color: var(--F1);
}

.error{
  background-color: var(--AcRoj);
  color: var(--F1);
}
.advice{
  background-color: var(--AcAma);
  color: var(--AcCafe);
}
.Normal{
  background-color: var(--F2);

}

/**Opcionales*/
section.Options{
  padding: 1rem 3rem;
  background-color: var(--Subt);
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
}
section.Options div.OptionContain{
  display: flex;
  flex-flow: row wrap;
  gap:0.5rem;
}
section.Options div.OptionContain label[disabled]{
  color: #797979;
}

section.Options div.OptionContain input[type=radio].a1{
  accent-color:var(--AcVerA);

}
/**Botones*/
button.descrip{
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  display: inline-flex;
  gap: 1rem;
  align-items: center;
}
button.descrip.primario{
  border: 2px solid var(--AcVerA);
  background-color: var(--AcVerA);
  transition:  all 300ms ease;
}
button.descrip.primario:hover{
  background-color: var(--F1);
  cursor: pointer;
}
button.descrip.primario[disabled]:hover{
  background-color:var(--AcVerA);
  cursor: not-allowed;
}
button.descrip.secundario{
  border:  2px solid var(--Headlines);
}

button.descrip.secundario:hover{
  border-color: var(--Subt);
  color: var(--Subt);
  transition:  all 300ms ease;
  cursor: pointer;
}
button.descrip.secundario:disabled{
  border-color:var(--Subt);
  opacity: 70%;
  color: initial;
}
button.descrip.secundario:disabled:hover{
  border-color:var(--Subt);
  cursor: not-allowed;

}
button.descrip.terciario{
  border: none;
  background-color: transparent;
}
button.descrip.terciario:hover{
  color:var(--Subt);
  transition:  all 300ms ease;
  cursor: pointer;
}
button.descrip.terciario:disabled{
  border-color:var(--Subt);
  opacity: 70%;
  color: initial;
}
button.descrip.terciario:disabled:hover{
  border-color:var(--Subt);
  cursor: not-allowed;

}

/** Directorio*/

div.directorio{
  /*!Retirar margin despues*/
  width: 90%;
  margin: auto;
  border-radius: 0.4rem;
  box-shadow: -1px -1px 7px 3px  #e4e4e4;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

}

div.directorio h5{
  padding: 1rem;
}

div.directorio section.directionDates{
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
  padding: 0rem 2rem;
}
section.directionDates p.subHead.name{
  color: var(--AcCafe);
}

section.phoneNumbers{
  background-color: #f5f5f5;
  display: flex;
  flex-flow: column wrap;
  gap: 0.3rem;
  padding: 0.7rem 1rem 1rem 2rem;
}

p.phone {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
}
p.phone span{
  color: var(--AcCafe);
}

/**Label*/
p.label{
  padding: 0.4rem 1.5em;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 0.3rem;
}
p.label.default{
  background-color: #e4e4e4;
  color: var(--Subt);
}

p.label.exito{
  background-color: #9dddd0;
  color: var(--AcVerA);
}
p.label.alerta{
  background-color:var(--AcAma);
  color: var(--AcCafe);
}
p.label.error{
  color: rgb(73, 16, 16);
}
/**Servicios*/
div.tramiteSec{
  display: flex;
  flex-flow: row wrap;
  gap:1rem;
  box-shadow: -1px -1px 7px 3px  #e4e4e4;
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.3rem;
}

div.tramiteSec section.Icono{
  padding: 0.7rem 0.7rem 0.7rem 1rem;
}

div.Tramite_text{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

section.tags{
  display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.2rem;
    padding: 1rem ;
}
/**Lugares Table*/
div.lugaresDiv{
  display: grid;
  grid-template-areas: 'side main main main';
  width: 90%;
  margin: auto;
}
div.lugaresSide{
  grid-area:side ;
}
div.lugaresMain{
  grid-area: main;
}
div.lugaresAtt{
  padding: 1rem 0.5rem;
  border-bottom: 1px solid var(--AcAz);
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

div.lugaresAtt:hover{
  background-color: var(--F2);
  cursor: pointer;
}

div.lugaresAtt span{
  color: var(--AcAz);
  font-size: larger;
}

div.lugaresAtt:last-child{
  border-bottom:none;
}
/**Lugares Card*/
div.cardLugares{
  width:55vw;
  margin: auto;
  padding: 1rem 2rem;
  box-shadow: -1px -1px 7px 3px  #e4e4e4;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  border-radius: 0.3rem;
}
section.time_phone{
display: flex;
flex-flow: row wrap;
}
section.time_phone p:last-child{
  padding: 0 0.5rem;
}

/**Welcome Panel*/
div.welcomeContain{
  background-color:#d4d5f0;
  max-height:fit-content ;
}
div.welcome{
  display: flex;
  flex-flow: row wrap;
 justify-content: space-between;
}
div.welcome div,section{
  border: none;
}
div.welcome section.welcomeTitle{
  width: 40%;
  padding: 0 0 0 8rem;
  padding: 5rem 1rem 3rem 7rem;
}

div.hexImg{
  position: relative;
  width: 35rem;
  background-color: var(--AcVio);
  clip-path: polygon(100% 0%, 100% 49%, 100% 100%, 25% 100%, 10% 50%, 25% 0%);
  background-image: url('./assets/img/Cat.jpg');
  background-size: cover;
}
div.hexImg::before{
  content: '';
  position: absolute;
  clip-path: polygon(40% 0, 25% 50%, 40% 100%, 25% 100%, 10% 50%, 25% 0%);
  background-color: var(--AcVio);
  width: 35rem;
  height:-webkit-fill-available;
  top: 0;
  left: -1rem;
}

/**Body Default y DIF*/
section.bodyDef{
  width: 90%;
  margin: auto;
  padding: 3rem 0 2rem  ;
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
}

article.articleDef{
  display: flex;
  flex-flow: row wrap;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
div.hexArticle{
  width: 9rem;
  height: 9rem;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-image: url(./assets/img/Cat.jpg);
  background-size: contain;
  
}
div.articleText{
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

select{
  padding: 0.5rem 0.3rem;
  border-radius: 0.2rem;
  max-width: 40%;
  min-width: 20%;
}

option{
  padding: 0.5rem 0.3rem;
  color: var(--AcRoj);
}

div.selectSection{
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}
/** Centro Dif*/
article.centroDif{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

section.centroDifImg{
  background-image: url('../src/assets/img/Cat.jpg');
  width: 25%;
  background-size: cover;
  background-position: center;
  float: left;
  box-shadow: -3px 0px 7px 3px #e4e4e4;
}

div.centroDifContainer{
   display: flex;
   flex-flow: column;
   padding: 1rem;
   box-shadow:3px 0px 7px 3px #e4e4e4;
   width: 60%;
}

section.centroDifDescrip{
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
}

div.gridDescrip{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(5,1fr);
  grid-auto-flow: column;
  padding: 0.5rem 0;
  row-gap: 1rem;
}

/**Carousel*/
div.carrouselContainer{
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}
div.carouselTitle{
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--Subt);
}
section.carouselButtons button{
  background-color: transparent;
  border: none;
  font-size: x-large;
}
section.carouselButtons button:hover{
  cursor: pointer;
}

section.carouselButtons{
  align-self: center;
}
.carouselMove{
  display: flex;
  flex-flow: row wrap;
  gap:1rem;
  justify-content: space-between;
}
div.carouselCard{
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  gap:.5rem;
  width: 20%;
}
div.carouselCard img{
  width: 5rem;
}
div.carouselCard p{
  opacity: 40%;
}